$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
// @include adaptiv-font( , );
// ==============================================================================================================================================

$width: 1920px;
$height: 1080px;

@function toVmax($px) {
	@return $px/$width * 100vmax;
}
@function toVmin($px) {
	@return $px/$height * 100vmin;
}

@function toVw($px) {
	@return $px/$width * 100vw;
}

@function toVh($px) {
	@return $px/$height * 100vh;
}
// width: toVm($px);
// ==============================================================================================================================================

// ==============================================================================================================================================

html,
body {
	max-width: 1920px;
	min-width: 320px;
	@include adaptiv-font(20, 10);
	font-weight: 400;
	color: #fff;
}
body {
	&.lock {
		overflow: hidden;
	}
}
a {
	color: #fff;
}
// ==============================================================================================================================================

// ==============================================================================================================================================


.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	padding: toVw(80px);
}
// ===============================================================================================================================================
.section {
}
.wrapper {
	display: flex;
	position: relative;
}
.title {
	@include adaptiv-font(35, 14);
	letter-spacing: toVw(2px);
	line-height: toVw(45px);
	text-align: left;
	text-transform: uppercase;
}
.btn {
	@include adaptiv-font(20, 14);
	padding: 25px 35px;
	font-weight: 700;
	letter-spacing: toVw(.8px);
	text-align: center;
	text-transform: uppercase;
	background: transparent;
	color: #fff;
	border: 4px solid #fff;
	transition: all 0.7s;

	&:hover {
		background-color: #fff;
		color: #000;
	}
}
.btn-down {
	width: toVw(80px);
	height: toVw(80px);
	// position: relative;
	border-radius: 50%;
	border: 4px solid #fff;
	cursor: pointer;
	transition: all 0.7s;
	position: absolute;
	right: toVw(80px);
	bottom: toVw(80px);
	



	&:hover {
		background-color: #fff;
		&:before {
			color: #000;
		}
	}
	&:before {
		content: "\f103";
		position: absolute;
		font-family: "icomoon";
		@include adaptiv-font(60, 40);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.7s;
	}
}

// ===============================================================================================================================================

// ===============================================================================================================================================

// ===============================================================================================================================================

// ===============================================================================================================================================

// ===============================================================================================================================================

// ===============================================================================================================================================
