// ШРИФТ ПО УМОЛЧАНИЮ=============================================================================================================================
$fontfamily: "Gotham Pro";
// =============================================================================================================================================
@import "_normalize.scss";
@import "_null.scss";
@import "_ui.scss";
@import "_icomoon.scss";
@import "_fonts.scss";
@import "_global.scss";

// =============================================================================================================================================
.menu-btn {
    position: fixed;
    background-color: #fff;
    top: 80px;
    left: 80px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    z-index: 20;
    span {
        width: 30px;
        height: 4px;
        background-color: #000;
        color: #000;
    }
    &:hover {
        span {
            &:nth-child(1) {
                animation-name: line;
                animation-duration: 1s;
                @keyframes line {
                    0% {
                        width: 30px;
                    }
                    30% {
                        width: 50px;
                    }
                    100% {
                        width: 30px;
                    }
                }
            }
            &:nth-child(2) {
                animation-name: line-2;
                animation-duration: 1s;
                @keyframes line-2 {
                    0% {
                        width: 30px;
                    }
                    40% {
                        width: 70px;
                    }
                    100% {
                        width: 30px;
                    }
                }
            }
            &:nth-child(3) {
                animation-name: line-3;
                animation-duration: 1s;
                @keyframes line-3 {
                    0% {
                        width: 30px;
                    }
                    30% {
                        width: 50px;
                    }
                    100% {
                        width: 30px;
                    }
                }
            }
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 27%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    padding: 12% 3% 5% 3%;
    transform: translateX(-120%);
    transition: all 0.5s;
    &.open {
        transform: translateX(0);
    }

    // .menu__item

    &__item {
        border-bottom: 2px solid hsl(0deg 0% 14%);
        a {
            display: block;
            padding: 25px 0;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: red;
                width: 0;
                height: 2px;
                color: red;
            }
            &:hover {
                &:before {
                    width: 100%;
                    transition: all 0.5s;
                }
            }
        }
    }
}

// =============================================================================================================================================

.logo {
    position: fixed;
    width: 200px;
    top: 80px;
    transform: translateX(-50%);
    left: 50%;
    color: rgb(255, 215, 0);
    z-index: 10;
}
// =============================================================================================================================================

.aside-nav {
    position: fixed;
    right: toVw(110px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    @include adaptiv-font(35, 14);
    font-weight: 700;
    text-transform: uppercase;

    // .aside-nav__link

    &__link {
        width: 20px;
        height: 20px;
        border: 4px solid rgb(255, 215, 0);
        border-radius: 50%;
        margin: 27px 0;

        &:hover {
            background-color: rgb(255, 215, 0);
        }
        a {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            span {
                position: absolute;
                right: 100px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
                color: rgb(255, 215, 0);
            }
            &:hover {
                span {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

// =============================================================================================================================================

.promo {
    // .promo__wrapper

    &__wrapper {
        background-image: url(/img/promo/promo-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }

    // .promo__content

    &__content {
        width: 35%;
        height: 20%;
    }

    // .promo__title

    &__title {
        margin: 0px 0px 40px 0px;
    }

    // .promo__text

    &__text {
        @include adaptiv-font(20, 14);
        margin: 0px 0px 40px 0px;
        line-height: 35px;
        text-align: left;
    }
}

// =============================================================================================================================================

.models {
    // .models__wrapper

    &__wrapper {
        background-image: url(img/models/bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    // .models__tabs

    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .models__nav

    &__nav {
        width: toVw(560px);
        height: toVh(680px);
        background-color: #fff;
        padding: toVw(260px) toVw(80px) toVw(80px) toVw(80px);
    }

    // .models__nav-title

    &__nav-title {
        color: rgba(0, 0, 0, 0.7);
        letter-spacing: toVw(2px);
        text-align: left;
        text-transform: uppercase;
        position: absolute;
        top: toVw(390px);
        left: toVw(150px);
        font-weight: 700;
    }

    // .models__nav-item

    &__nav-item {
        color: #4a4a4a;
        font-weight: 700;
        letter-spacing: toVw(0.8px);
        text-align: left;
        text-transform: uppercase;
        padding: toVh(25px) 0;
        cursor: pointer;
        border-bottom: 1px solid grey;
        position: relative;
        &.active {
            span {
                position: relative;

                color: #fff;
                z-index: 30;
            }
            &:before {
                visibility: visible;
                opacity: 1;
            }
        }
        &:hover {
            span {
                position: relative;
                color: #fff;
                z-index: 30;
            }
            &:before {
                visibility: visible;
                opacity: 1;
                transition: all 0.5s;
            }
        }

        &:before {
            content: "";
            position: absolute;
            left: toVw(-45px);
            top: 0;
            width: 125%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 20;
            visibility: hidden;
            opacity: 0;
        }
    }

    // .models__content-item

    &__content-item {
        width: toVw(1280px);
        height: toVh(600px);
        transform: translateX(toVw(-80px));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: toVw(80px);

        &:nth-child(1) {
            background-image: url(img/models/1.jpg);
        }
        &:nth-child(2) {
            background-image: url(img/models/2.jpg);
        }
        &:nth-child(3) {
            background-image: url(img/models/3.jpg);
        }
    }

    &__content-inner {
        width: toVw(480px);
        height: 100%;
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    // .models__content-title

    &__content-title {
        font-weight: 700;
    }
  

// =============================================================================================================================================

.accessories {
    // .accessories__wrapper

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 toVw(-10px);
    }

    // .accessories__item

    &__item {
        padding: 0 toVw(10px);
        position: relative;
        a {
            &:hover {
                color: rgb(255, 215, 0);
            }
        }
        span {
            position: absolute;
            top: 70%;
            left: 10%;

            font-size: 35px;
            @include adaptiv-font(35, 14);
            text-transform: uppercase;
        }

        img {
            object-fit: cover;
        }

        &:nth-child(1) {
            flex: 1 1 auto;
            color: rgba(0, 0, 0, 0.7);
            @include adaptiv-font(35, 24);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:nth-child(2) {
            width: 38%;
            // height: 65%;
        }
        &:nth-child(3) {
            width: 38%;
        }
        &:nth-child(4) {
            width: 33.333%;
            // height: 35%;
        }
        &:nth-child(5) {
            width: 33.333%;
        }
        &:nth-child(6) {
            width: 33.333%;
        }
    }
}

// =============================================================================================================================================

.novelty {
    a {
        color: #4a4a4a;
        font-family: "Gotham Pro";
        font-weight: 700;
        letter-spacing: 0.8px;
        text-align: left;
        text-transform: uppercase;
    }
    // .novelty__wrapper

    &__wrapper {
        padding-top: toVw(200px);
    }

    // .novelty__item

    &__item {
        width: 33.333%;
        padding: 0 toVw(20px);
        position: relative;
        overflow: hidden;

        &:nth-child(2) {
            cursor: pointer;
            img {
                object-fit: cover;
            }
            &:hover {
                .novelty__item-popup {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.5s;
                }
            }
        }
    }

    // .novelty__item-img

    &__item-img {
        height: toVh(360px);
        margin-bottom: toVh(30px);
    }

    // .novelty__item-title

    &__item-title {
        color: #000000;
        @include adaptiv-font(25, 14);
        font-weight: 700;
        text-align: left;
        margin-bottom: toVh(30px);
    }

    // .novelty__item-text

    &__item-text {
        color: #000000;
        margin-bottom: toVh(30px);

        line-height: toVh(35px);
        text-align: left;
    }

    // .novelty__item-inner

    &__item-inner {
        width: toVw(480px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    &__item-popup {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: toVw(480px);
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        visibility: hidden;
        opacity: 0;

        a,
        .novelty__item-text,
        .novelty__item-title {
            color: #fff;
        }
    }
}

// =============================================================================================================================================

.club {
    &__title {
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
        margin: 30px 0px 10px 0px;
    }
    // .club__wrapper

    &__wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    // .club__wrapper-inner

    &__wrapper-inner {
        width: 33.333%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    // .club__wrapper-item

    &__wrapper-item {
        width: 50%;
        padding: toVw(10px);
        position: relative;

        &:hover {
            .club__wrapper-popup {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // .club__wrapper-item-big

    &__wrapper-item-big {
        width: 100%;
        position: relative;
    }

    // .club__wrapper-popup

    &__wrapper-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: toVw(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        transition: all 0.5s;
    }
}

// =============================================================================================================================================


@import "_medias.scss";
